<div class="contentwrapper"><!--Content wrapper-->
  <div class="heading">

    <h3>Dashboard</h3>

    

    <ul class="breadcrumb">
      <li>You are here:</li>
      <li>
        <a href="#" class="tip" title="back to dashboard">
          <span class="icon16 icomoon-icon-screen"></span>
        </a>
        <span class="divider">
          <span class="icon16 icomoon-icon-arrow-right"></span>
        </span>
      </li>
      <li class="active">Dashboard</li>
    </ul>

  </div><!-- End .heading-->
  <div class="row-fluid">


    <div class="span12">

      <div class="page-header">
        <h4>welcome</h4>
      </div>

<div class="hero-unit">
<h1>欢迎使用DECOO管理系统</h1>
<%#*<p>欢迎使用DECOO管理系统.</p>%>
<%#*<p><a class="btn btn-primary btn-large">Learn more</a></p>%>
</div>

    </div><!-- End .span6 -->

  </div>
</div>

