<tr>
  <td>
    <%= stock.spec.bh if stock.spec %>
  </td>
  <td style="background-color: <%= stock.spec.color.value if stock.spec %>"></td>
  <td>
    <%= stock.spec.color.name if stock.spec %>
  </td>
  <td>
    <%= stock.spec.material %>
  </td>
  <td>
    
  </td>
  <td></td>

</tr>