<div class="contentwrapper"><!--Content wrapper-->
  <div class="heading">

    <h3>库存管理</h3>

    <ul class="breadcrumb">
      <li>You are here:</li>
      <li>
        <a href="#" class="tip" title="back to dashboard">
          <span class="icon16 icomoon-icon-screen"></span>
        </a>
        <span class="divider">
          <span class="icon16 icomoon-icon-arrow-right"></span>
        </span>
      </li>
      <li class="active">库存管理</li>
    </ul>

  </div><!-- End .heading-->

  <div class="row-fluid">
    <div class="span12">
      <div id="msg" style="padding:10px;">
        <%= notice_message %>
      </div>

      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>出库单</span>
          </h4>
        </div>
        <div class="content noPad">
          <div style="padding: 15px;" id="form">

            <%= render 'form' %>

                    </div>
          <table id="DataTables_Table_0" class="responsive table table-bordered ">
            <thead>
              <tr>
                
                <th>货号</th>
                <th colspan="2">颜色</th>
                <th>材料</th>

                <th>重量</th>
                <th>数量</th>
               
                
              </tr>
            </thead>
            <tbody id="items">
              <tr>
                <td>
                  <input type="text" name="outstock[outstock_items_attributes][][spec_id]"></input>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <input type="text" name="outstock[outstock_items_attributes][][spec_id]"></input>
                </td>
                <td></td>
                
              </tr>
              <%#= render(@items) %>
            </tbody>
          </table>
          <div style="padding: 10px;">

          </div>
        </div>
      </div><!-- End .box -->
    </div>
  </div>
</div>

