<div class="contentwrapper"><!--Content wrapper-->
  <div class="heading">

    <h3>产品管理</h3>

    

    <ul class="breadcrumb">
      <li>You are here:</li>
      <li>
        <a href="#" class="tip" title="back to dashboard">
          <span class="icon16 icomoon-icon-screen"></span>
        </a>
        <span class="divider">
          <span class="icon16 icomoon-icon-arrow-right"></span>
        </span>
      </li>
      <li class="active">产品管理</li>
    </ul>

  </div><!-- End .heading-->

  <div class="row-fluid">

    <div class="span12">

      <div class="box">

        <div class="title">

          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>新增产品</span>
          </h4>

        </div>
        <div class="content">

          <form action="#" class="form-horizontal">

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="normal" class="form-label span4">Normal field</label>
                  <input type="text" id="normalInput" class="span8 text">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="focusedInput" class="form-label span4">Focused input</label>
                  <input type="text" value="This is focused…" id="focusedInput" class="span8 focused text">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="password" class="form-label span4">Password input</label>
                  <input type="password" id="passwordInput" class="span8 password">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="tooltip" class="form-label span4">With tooltip</label>
                  <input type="text" id="tooltipInput" class="span8 tip text" oldtitle="This is some tooltip" title="">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="placeholder" class="form-label span4">With placeholder</label>
                  <input type="text" placeholder="This is placeholder text" id="placeholderInput" class="span8 text">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label class="form-label span4">Read only input</label>
                  <input type="text" value="Some value here" readonly="readonly" class="span8 text">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="disabledInput" class="form-label span4">Disabled input</label>
                  <input type="text" disabled="disabled" placeholder="Disabled input here…" id="disabledInput" class="span8 disabled text">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="maxlenght" class="form-label span4">Max lenght</label>
                  <input type="text" maxlength="20" placeholder="Max lenght 20 characters" id="maxlengthInput" class="span8 text">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="normal" class="form-label span4">
                    Label hint
                    <span class="help-block">Some work has to be done</span>
                  </label>
                  <input type="text" id="normalInput1" class="span8 text">
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="prependedInput" class="form-label span4">Prepended text</label>
                  <div class="input-prepend">
                    <span class="add-on">@</span><input type="text" size="16" id="prependedInput" class="span8 text">
                  </div>
                  <span class="help-block blue span8">Here's some hint text</span>
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="appendedInput" class="form-label span4">Appended text</label>
                  <div class="input-append">
                    <input type="text" size="16" id="appendedInput" class="span8 text"><span class="add-on">.00</span>
                  </div>
                  <span class="help-inline blue">Here's more help text</span>
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="appendedInputButton" class="form-label span4">Append with button</label>
                  <div class="input-append">
                    <input type="text" size="16" id="appendedInputButton" class="span8 text"><button type="button" class="btn">Go!</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="tags" class="form-label span4">Tags</label>
                  <div class="span8 controls">
                    <input type="text" style="width: 100%; display: none;" value="awesome,nice" id="tags" class="text"><div class="select2-container select2-container-multi" style="width: 100%">    <ul class="select2-choices">  <li class="select2-search-choice">    <div>awesome</div>    <a tabindex="-1" class="select2-search-choice-close" href="javascript:void(0)"></a></li><li class="select2-search-choice">    <div>nice</div>    <a tabindex="-1" class="select2-search-choice-close" href="javascript:void(0)"></a></li><li class="select2-search-field">    <input type="text" class="select2-input text" style="width: 10px;" autocomplete="off" tabindex="0">  </li></ul><div style="display:none;" class="select2-drop select2-drop-multi">   <ul class="select2-results">   </ul></div></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="normal" class="form-label span4">Grid fields</label>
                  <div class="grid-inputs span8">
                    <input type="text" placeholder=".span2" class="span3 text">
                    <input type="text" placeholder=".span4" class="span5 text">
                    <input type="text" placeholder=".span6" class="span8 text">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row row-fluid">
              <div class="span12">
                <div class="row-fluid">
                  <label for="textarea" class="form-label span4">File input</label>
                  <div class="uploader" id="uniform-file"><input type="file" id="file" name="fileinput" size="20" style="opacity: 0;"><span class="filename" style="-moz-user-select: none;">No file selected</span><span class="action" style="-moz-user-select: none;">Choose File</span></div>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <button class="btn btn-info" type="submit">Save changes</button>
              <button class="btn" type="button">Cancel</button>
            </div>


          </form>

        </div>

      </div><!-- End .box -->

    </div><!-- End .span6 -->

    

    


  </div>
  <h1>New product</h1>

  <%= render 'form' %>

  <%= link_to 'Back', products_path %>
</div>
